body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px;
}
.const{
    color: rgb(41, 41, 208);
}
p{
    font-size: larger;
}


footer{
    text-align: center;
    font-size: large;
    margin-top: 200px;
    font-style: italic;
}